# dependencias
node_modules/
.pnp.*
.yarn/

# builds
.next/
out/
dist/
build/
artifacts/
cache/
out/
broadcast/
contracts/lib/

# entorno
.env
.env.local
.env.*.local

# sistema
.DS_Store
Thumbs.db
*.log
npm-debug.log*

# editores
.vscode/*
!.vscode/extensions.json
.idea/

# generados
web/src/lib/generated/
coverage/
